<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基本列表</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    <!--
			v-for指令:
						1.用於展示列表數據
						2.語法：v-for="(item, index) in xxx" :key="yyy"
						3.可遍歷：陣列、對像、字串（用的很少）、指定次數（用的很少）
	-->
    <h2>人員列表</h2>
    <ul>
        <!--遍歷陣列-->
        <!--循環列表的方法 類似與for in循環遍歷-->
        <!--:代表v-bind 屬性key讓每一個li有了唯一的標識,key一定不要重複-->
        <!--v-for(for in// for of)可以接受到兩個參數,一個是目前的元素另一個是目前元素的索引 類似於下面的person,index-->
        <li v-for='(person, index) in persons' :key="index">
            <!--p可能來自形參，也可能來自於寫在data里的屬性，更可能來自於計算屬性 computed-->
            {{person.name}} - {{ person.age }}
        </li>
    </ul>
    <!--遍歷對像-->
    <h2>汽車資訊</h2>
    <!--注意遍歷對象的時候先收到的是每一項的屬性的value，第二項是對應的鍵名:key-->
    <ul v-for="(val, key) of car" :key="key">
         <li>{{ key }} -- {{ val }}</li>
    </ul>
    <!--遍歷字串 用的不多-->
    <h2>測試遍歷字串</h2>
    <!--注意遍歷字串的時候先收到的是字串中每一個字元，第二項是其對應的索引index-->
    <ul v-for="(c, index) of str" :key="index">
        <li>{{ index }} -- {{ c }}</li>
    </ul>
    <!--遍歷指定次數-->
    <h2>遍歷指定次數</h2>
    <!--注意遍歷指定次數的時候先收到的是number(例如5，則number是1，2，3，4，5)，第二項是對應index(從0開始計數,則是0,1,2,3,4)-->
    <ul v-for="(num, index) in 5" :key="index">
        <li>{{ index }} -- {{ num }}</li>
    </ul>
</div>
<script type="text/javascript">
    Vue.config.productionTip = false;
    new Vue({
        el: '#root',
        data: {
            //陣列
            persons: [
                {id: '001', name: '張三', age: 18},
                {id: '002', name: '李四', age: 19},
                {id: '003', name: '王五', age: 20}
            ],
            car: {
                name: '奧迪a8',
                price: '70w',
                color: '黑色'
            },
            str: 'hello'
        }
    })
</script>
</body>
</html>
