<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>methods語法實現</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <!--v-model雙向繫結-->
        姓:<input type="text" v-model="firstName"/>
        <br/><br/>
        名:<input type="text" v-model="lastName"/>
        <br/><br/>
        <!--methods方法呼叫之後進行插值-->
        <!--data中的數據發生變化的話，要重新解析和react類似，state一變化頁面重新render-->
        全名: <span>{{ fullName() }}</span>
    </div>
    <script type="text/javascript">
        new Vue({
           el:'#root',
           data: {
               firstName: '張',
               lastName: '三'
           },
           methods:{
               fullName(){
                   return `${this.firstName.slice(0,3)} -- ${this.lastName}`
               }
           }
        });
    </script>
</body>
</html>
